@font-face {
  font-weight: 400;
  font-family: Fifaks;
  src: url("@/scss/fonts/Fifaks.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
li{
  list-style-type: none;
}
